/upload
/bitrix/managed_cache
/bitrix/cache
/bitrix/backup
/bitrix/stack_cache
/vendor
/.env
/_logs/
/images
/nbproject
/.htaccess
/.idea
/disposable_scripts/allprices/
/disposable_scripts/really_disp/
/disposable_scripts/FROM_OLD_STAGE/
/registration-smart/_tmp/
/o_b_1c_import_lite_fhu38hdia.php
/google_tag_manager_head.php
/google_tag_manager_footer.php
/metrica_counter.php
/robots.txt
/metrica_counter.php
/google_tag_manager_footer.php
/google_tag_manager_head.php
/.xml
/sitemap-iblock-10.xml
/sitemap.xml
/auth.php
.idea
*.csv
*.txt
*.xls
*.log
composer.lock
/.docker/dump/
/.logs/
/upload.tar.gz
/bitrix/tmp/

.dump