$c-orange       : #F88122;
$c-orange-active: #F47216;
$c-dark-orange  : #9C4100;
$c-dark         : #1C1B1F;
$c-disabled     : #646464;

$section-mb         : 160px;
$section-mb-tablet  : 130px;
$section-mb-mobile  : 100px;